<footer class="footer">
	<div class="container">
		<section class="contact">
		<h2>Dev</h2>
			<ul>
				<li><a title="Amazon" href="https://www.amazon.com/s?rh=n%3A2350149011%2Cp_4%3AVishnu+N+K&ref=bl_dp_s_web_0" target="_blank">Amazon</a></li>
				<li><a title="PlayStore" href="https://play.google.com/store/apps/developer?id=Vishnu+N+K" target="_blank">PlayStore</a></li>
				<li><a title="Privacy Policy" href="https://appchoose.blogspot.com/p/privacy-policy.html" target="_blank">Privacy Policy</a></li>
				<li><a title="Help" href="https://visnkmr.github.io/help" target="_blank">Help</a></li>
			</ul>
			
		</section>
		<section class="follow">
			<h2>Social</h2>
			<ul>
				<li><a title="Telegram" href="{{ site.telegram }}" target="_blank">Telegram</a></li>
				<li><a title="Twitter" href="{{ site.linkedin }}" target="_blank">Linkedin</a></li>
				<li><a title="Twitter" href="{{ site.twitter }}" target="_blank">Twitter</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
				<a title="{{ site.email }}" href="mailto:{{ site.email }}">gmail</a>
			</ul>
		</section>
	</div>
</footer>